[submodule "soothe"]
	path = soothe
	url = https://github.com/b4skyx/leftwm-soothe.git
	branch = master
[submodule "windowsxp"]
	path = windowsxp
	url = https://github.com/lex148/leftwm-windowsxp.git
	branch = master
[submodule "tng"]
	path = tng
	url = https://github.com/lex148/leftwm-tng.git
	branch = master
[submodule "coffee"]
	path = coffee
	url = https://github.com/lex148/leftwm-coffee.git
	branch = master
[submodule "orangeforest"]
	path = orangeforest
	url = https://github.com/PVautour/leftwm-theme-orange-forest.git
[submodule "dracula-rounded"]
	path = dracula-rounded
	url = https://github.com/AethanFoot/leftwm-theme-dracula-rounded
[submodule "forest"]
	path = forest
	url = https://github.com/lex148/forest.git
	branch = master
[submodule "Blue Coffee"]
	path = Blue Coffee
	url = https://github.com/Qwart376/Blue-Coffee
[submodule "Ground Zero"]
	path = Ground Zero
	url = https://github.com/Qwart376/Ground-Zero
[submodule "Red Moon"]
	path = Red Moon
	url = https://github.com/Qwart376/Red-Moon
[submodule "leftwm-theme-garden"]
	path = leftwm-theme-garden
	url = https://github.com/taylor85345/leftwm-theme-garden
[submodule "epitaph"]
	path = epitaph
	url = https://github.com/VentGrey/Epitaph
[submodule "ocean-night"]
	path = ocean-night
	url = https://github.com/TheRoniOne/ocean-night
[submodule "Flamingo"]
	path = Flamingo
	url = https://github.com/necaris/leftwm-theme-flamingo
[submodule "amber"]
	path = amber
	url = https://github.com/di-effe/amber
[submodule "catppuccin"]
	path = catppuccin
	url = https://github.com/di-effe/catppuccin
[submodule "Molese"]
	path = Molese
	url = https://github.com/mautamu/molese
[submodule "Bumblebee"]
	path = Bumblebee
	url = https://github.com/mfdorst/leftwm-bumblebee/
[submodule "Sunset"]
	path = Sunset
	url = https://github.com/Syudagye/leftwm-sunset
[submodule "space_jelly"]
	path = space_jelly
	url = https://gitlab.com/jchand99/space_jelly
[submodule "leftwm-sunflower"]
	path = leftwm-sunflower
	url = https://github.com/mautamu/leftwm-sunflower/
[submodule "doublebar"]
	path = doublebar
	url = https://github.com/PeterDauwe/doublebar/
[submodule "ascent"]
  path = ascent
  url = https://gitlab.com/mWalrus/ascent
[submodule "zexanima-leftwm-theme"]
	path = zexanima-leftwm-theme
	url = https://github.com/calebgasser/zexanima-leftwm-theme.git
[submodule "minimal_solarized"]
	path = minimal_solarized
	url = https://github.com/minda1975/minimal_solarized
