[submodule "amber"]
	path = amber
	url = https://github.com/di-effe/amber
[submodule "ascent"]
	path = ascent
	url = https://gitlab.com/mWalrus/ascent
[submodule "Bumblebee"]
	path = Bumblebee
	url = https://github.com/mfdorst/leftwm-bumblebee/
[submodule "catppuccin"]
	path = catppuccin
	url = https://github.com/di-effe/catppuccin
[submodule "coffee"]
	path = coffee
	url = https://github.com/lex148/leftwm-coffee.git
	branch = master
[submodule "dementive"]
	path = dementive
	url = https://github.com/dementive/leftwm-dementive
[submodule "desire"]
    path =  desire
    url = https://github.com/copypasteonly/Desire
[submodule "doublebar"]
	path = doublebar
	url = https://github.com/PeterDauwe/doublebar/
[submodule "dracula-rounded"]
	path = dracula-rounded
	url = https://github.com/AethanFoot/leftwm-theme-dracula-rounded
[submodule "epitaph"]
	path = epitaph
	url = https://github.com/VentGrey/Epitaph
[submodule "Flamingo"]
	path = Flamingo
	url = https://github.com/necaris/leftwm-theme-flamingo
[submodule "forest"]
	path = forest
	url = https://github.com/lex148/forest.git
	branch = master
[submodule "leftwm-sunflower"]
	path = leftwm-sunflower
	url = https://github.com/mautamu/leftwm-sunflower/
[submodule "leftwm-arch-one-dark"]
	path = leftwm-arch-one-dark
	url = https://github.com/jamesbaker1901/leftwm-arch-one-dark/
[submodule "leftwm-theme-garden"]
	path = leftwm-theme-garden
	url = https://github.com/taylor85345/leftwm-theme-garden
[submodule "leftwm-theme-plan9"]
	path = leftwm-theme-plan9
	url = https://github.com/seabassapologist/leftwm-theme-plan9
[submodule "leftwm-theme-serika"]
	path = leftwm-theme-serika
	url = https://github.com/VuiMuich/leftwm-theme-serika.git
[submodule "minimal_solarized"]
	path = minimal_solarized
	url = https://github.com/minda1975/minimal_solarized
[submodule "Molese"]
	path = Molese
	url = https://github.com/mautamu/molese
[submodule "ocean-night"]
	path = ocean-night
	url = https://github.com/TheRoniOne/ocean-night
[submodule "orangeforest"]
	path = orangeforest
	url = https://github.com/PVautour/leftwm-theme-orange-forest.git
[submodule "soothe"]
	path = soothe
	url = https://github.com/b4skyx/leftwm-soothe.git
	branch = master
[submodule "Sunset"]
	path = Sunset
	url = https://github.com/Syudagye/leftwm-sunset
[submodule "tng"]
	path = tng
	url = https://github.com/lex148/leftwm-tng.git
	branch = master
[submodule "windowsxp"]
	path = windowsxp
	url = https://github.com/lex148/leftwm-windowsxp.git
	branch = master
[submodule "zexanima-leftwm-theme"]
	path = zexanima-leftwm-theme
	url = https://github.com/calebgasser/zexanima-leftwm-theme.git
[submodule "Blood-Moon-leftwm-theme"]
	path = Blood-Moon-leftwm-theme
	url = https://github.com/zawesomekid/Blood-Moon-leftwm-theme
[submodule "LateNight"]
	path = LateNight
	url = https://github.com/JacoMalan1/LateNight
