;=====================================================
;
;   Check https://github.com/jaagr/polybar for more 
;   info on polybar and it's config
;   Config for Windows XP rice https://github.com/ameyrk99/windows-xp-i3-rice (check it out for more)
;
;=====================================================


[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[global/wm]
margin-top = 0
margin-bottom = 0

[colors]
background = #000000
background-alt = #cc191919  ;semi-transparent one 
foreground = #ffffff
foreground-alt = #E0563A
primary = #ffb52a
secondary = #e60053
alert = #bd2c40
start-green = #46AA46
bar-blue = #245EDC
active-tabs = #3980F4
selected-tab = #1A50B8
tray = #0E9AED


[bar/mainbar0]
inherit = bar/xpbase
modules-left = menu-apps start_text workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/xpbase
modules-left = menu-apps start_text workspace0
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/xpbase
modules-left = menu-apps start_text workspace0
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true


[bar/xpbase]
width = 100%
height = 32
bottom = true
background = ${colors.bar-blue}
foreground = ${colors.foreground}
border-top-size = 4
border-color = #00000000    ;transparent border
font-0 = fixed:pixelsize=8;1
font-1 = "unifont:fontformat=truetype:size=8:antialias=false;0"
font-2 = siji:pixelsize=8;1
font-3 = FontAwesome:pixelsize=11:antialias=true
font-4 = "Font Awesome 5 Brands Regular:style=Regular:size=9;1"
font-5 = "Font Awesome 5 Free:pixelsize=9;1"
font-6 = "Font Awesome 5 Free solid:pixelsize=9;1"
font-7 = "Font Awesome 5 Brands:pixelsize=9;1"
;modules-left = menu-apps start_text i3
modules-center = 
modules-right = weather bandwidth volume date
;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev


tray-position = right
;tray-padding = 1
tray-transparent = false
tray-background = ${colors.tray}

[module/xwindow]
;Displays title of windows. Check the polybar wiki for more options for the module
type = internal/xwindow
label = %title:0:30:...   %   

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false
format-padding = 3

;Only show workspaces on the same output as the bar
pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = ${colors.foreground}
label-mode-background = ${colors.active-tabs}

;focused = Active workspace on focused monitor
label-focused = "%name%"
label-focused-background = ${colors.selected-tab}
label-focused-foreground = ${colors.foreground}
label-focused-padding = 2

;unfocused = Inactive workspace on any monitor
label-unfocused = "%name%"
label-unfocused-padding = 2
label-unfocused-background = ${colors.active-tabs}

;visible = Active workspace on unfocused monitor
label-visible = "%name%"
label-visible-background = ${colors.active-tabs}
label-visible-padding = 2

;urgent = Workspace with urgency hint set
label-urgent = "%name%"
label-urgent-background = ${colors.foreground-alt} 
label-urgent-foreground = ${colors.background}
label-urgent-padding = 2

[module/cpu]
;Displays CPU consumption. It's a i3blocks module btw...just so you know
type = custom/script
label= %output%
exec=$SCRIPTPATH/scripts/cpu_usage
interval=5
color=${colors.foreground}

[module/date]
;Internal date module. Check the polybar wiki for more options for the module.
type = internal/date
interval = 15
date = %A, %d %B %I:%M %p 
label-foreground = ${colors.foreground}
format-background = ${colors.tray}
format-padding = 2

[module/volume]
type = custom/script
label =  %output%
exec=$SCRIPTPATH/scripts/volume
format-background = ${colors.tray}
format-padding = 1

[module/battery]
;Display battery percentage. It's a i3blocks module...just so you know...
type = custom/script
label = %{F#EF2929}  %{F-} %output%
exec=$SCRIPTPATH/scripts/battery
interval=12 
format-background = ${colors.tray}
format-padding = 1


[module/temperature]
;It's a i3blocks module...just so you know...
type = custom/script
label =  %output%
exec=$SCRIPTPATH/scripts/temperature
interval=10
label-foreground = ${colors.foreground}

[module/spotify]
;The module is meant for i3blocks, and it can play next song, pause, or play previous on i3blocks. Yet to change it to work
;for polybar...If you do before I do, please do share
type=custom/script
label=  %output%
exec=python3 $SCRIPTPATH/scripts/spotify.py
interval=5

[module/weather]
;Display Weather. Change 'nashik' to where you live (unless you live in arlington too...) for it to work
type=custom/script
label=%output%
exec= $SCRIPTPATH/scripts/weather.sh shreveport
interval=1800
label-foreground = ${colors.foreground}
format-background = ${colors.tray}
format-padding = 2

[module/backlight]
;Change internal to xbacklight if your device is supported by it...mine isn't
;Check the polybar wiki for more info or info on xbacklight module
type = internal/backlight
label =  %percentage%%
card = intel_backlight
format =  <label>
interval = 300
format-background = ${colors.tray}
format-padding = 2

[module/bandwidth]
;This was meant for i3blocks too...I love how I don't really have to change anything for it to work here. I did change IN and OUT to those arrows.
type = custom/script
label = %output%
exec=$SCRIPTPATH/scripts/bandwidth
interval=1
color= ${colors.foreground}
format-background = ${colors.tray}
format-padding = 2

[module/menu-apps]
;This is a...menu
;Powermenu works as a part of it, separate it if you like
type = custom/menu
expand-right = true
label-open = 
label-close =  
format-background = ${colors.start-green}
format-padding = 3

; Optional item separator
; Default: none
label-separator = "   "

menu-0-0 = Browsers
menu-0-0-exec = menu-open-1
menu-0-1 = Multimedia
menu-0-1-exec = menu-open-2
menu-0-2 = System
menu-0-2-exec = menu-open-3
menu-0-3 = %{F#E0563A}%{F-}
menu-0-3-exec = menu-open-4

menu-1-0 = 
menu-1-0-exec = firefox &
menu-1-1 = 
menu-1-1-exec = opera &

menu-2-0 = Gimp
menu-2-0-exec = gimp &
menu-2-1 = Spectacle
menu-2-1-exec = spectacle &

menu-3-0 = 
menu-3-0-exec = gnome-terminal &
menu-3-1 = 
menu-3-1-exec = systemmonitor &
menu-3-2 = 
menu-3-2-exec = speedcrunch &

;power off
menu-4-0 = 
menu-4-0-exec = systemctl poweroff
;reboot
menu-4-1 = 
menu-4-1-exec = systemctl reboot
;suspend
menu-4-2 = 
menu-4-2-exec = betterlockscreen --lock & systemctl suspend
;lock
menu-4-3 = 
menu-4-3-exec = betterlockscreen --lock
;logout
menu-4-4 = 
menu-4-4-exec = i3-msg exit

[module/start_text]
type = custom/script
interval = 1200
format = "<label>  "
format-prefix = " "
format-prefix-foreground = ${colors.foreground}
exec = $SCRIPTPATH/scripts/start_text
format-background = ${colors.start-green}
;format-padding = 1



; vim:ft=dosini
