
# Conky settings #
background yes
update_interval 1
double_buffer yes
no_buffers yes
imlib_cache_size 10

# Window specifications #
#gap_x 200
gap_y 150 
minimum_size 163 166
maximum_width 163
#maximum_height 120
alignment middle_left

own_window yes
own_window_type panel
own_window_hints above

own_window_transparent no
#own_window_argb_visual yes
#own_window_argb_value 255
#own_window_hints undecorated,sticky,skip_taskbar,skip_pager,below
border_inner_margin 0
border_outer_margin 25 

# Graphics settings #
draw_shades no
default_shade_color AAAAAA
draw_outline no
default_outline_color AAAAAA
draw_borders false
draw_graph_borders no
default_graph_size 26 80
show_graph_scale no
show_graph_range no

# Text settings #
use_xft yes
xftalpha 0
xftfont Droid Sans:size=8
text_buffer_size 256
override_utf8_locale yes

# Useful shortenings #
short_units yes
pad_percents  2
top_name_width 30

# Color scheme #
default_color FF0000
color1 894487
color2 cc9cc6
color3 894487
color4 FFFFFF
color5 DCDCDC
color6 FFFFFF
color7 FFFFFF
color8 FFFFFF

TEXT


${font sans-serif:bold:size=8}${color eee}Time ${hr 2}${font sans-serif:normal:size=8}
$alignc${font sans-serif:bold:size=25}${color eee}${time %H:%M }${font sans-serif:normal:size=8}

${font sans-serif:bold:size=8}${color eee}Date ${hr 2}${font sans-serif:normal:size=8}
$alignc${font sans-serif:bold:size=17}${color eee}${time %d.%m.%y }${font sans-serif:normal:size=8}

${font sans-serif:bold:size=8}${color2}CPU ${hr 2}${font sans-serif:normal:size=8}
CPU0: ${cpu cpu0}% ${cpubar cpu0}
CPU1: ${cpu cpu1}% ${cpubar cpu1}
CPU2: ${cpu cpu2}% ${cpubar cpu2}
CPU3: ${cpu cpu3}% ${cpubar cpu3}
CPU4: ${cpu cpu3}% ${cpubar cpu4}
CPU5: ${cpu cpu3}% ${cpubar cpu5}
CPU6: ${cpu cpu3}% ${cpubar cpu6}
CPU7: ${cpu cpu3}% ${cpubar cpu7}
CPU8: ${cpu cpu3}% ${cpubar cpu8}
CPU9: ${cpu cpu3}% ${cpubar cpu9}
CPU10: ${cpu cpu3}% ${cpubar cpu10}
CPU11: ${cpu cpu3}% ${cpubar cpu11}
CPU12: ${cpu cpu3}% ${cpubar cpu12}
CPU13: ${cpu cpu3}% ${cpubar cpu13}
CPU14: ${cpu cpu3}% ${cpubar cpu14}
CPU15: ${cpu cpu3}% ${cpubar cpu15}
 
${font sans-serif:bold:size=8}${color3}MEMORY ${hr 2}
${font sans-serif:normal:size=8}RAM $alignc $mem / $memmax $alignr $memperc%
$membar

${font sans-serif:bold:size=8}${color3}DISK ${hr 2}
${font sans-serif:normal:size=8}Root $alignc ${fs_used /} / ${fs_size /} $alignr${fs_used_perc /}%
${fs_bar /}

${if_existing /proc/net/route enp8s0}
${font sans-serif:bold:size=8}${color2}NETWORK ${hr 2}
${goto 30}${upspeedgraph enp8s0 26,80 FFFFFF FFFFFF}${goto 110}${downspeedgraph enp8s0 26,80 FFFFFF FFFFFF}
${goto 30}${color2}Up: ${color2}${upspeed enp8s0}${color2}${goto 110}Down: ${color2}${downspeed enp8s0}
${goto 30}${color2}Sent: ${color2}${totalup enp8s0}${color2}${goto 110}Rec: ${color2}${totaldown enp8s0}
${hr 2}
${endif}

${color color1}${font sans-serif:bold:size=8}TOP PROC ${hr 2}
${goto 40}${color1}${top_mem name 1}${color1}${goto 140}${top cpu 1} %
${goto 40}${color1}${top_mem name 2}${color1}${goto 140}${top cpu 2} %
${goto 40}${color1}${top_mem name 3}${color1}${goto 140}${top cpu 3} %
${goto 40}${color1}${top_mem name 4}${color1}${goto 140}${top cpu 4} %
${goto 40}${color1}${top_mem name 5}${color1}${goto 140}${top cpu 5} %
${hr 2}

