;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[color]
;background = ${xrdb:color0:#222}
background = #1e1f29ff
;background-alt = #444
;foreground = ${xrdb:color7:#222}
foreground = #f8f8f2
;foreground-alt = #555
primary = #ffb52a
secondary = #e60053
alert = #bd2c40
modulefg = #f7f7f7
modulefg-alt = #f7f7f7

; Active Shade
shade1 = #282629
shade2 = #37474F
shade3 = #455A64
shade4 = #546E7A
shade5 = #607D8B
shade6 = #78909C
shade7 = #90A4AE
shade8 = #B0BEC5

trans = #cdcdcdff
white = #FFFFFF
black = #000000
tray-background = #404552df

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 2
margin-bottom = 2

[bar/barbase]
width = ${env:width}
;width = 100%
height = 24
offset-x = 8
offset-y = 4
monitor = ${env:monitor}
fixed-center = true
bottom = true

background = ${color.background}
foreground = ${color.foreground}

radius = 8.0
;radius-top = 8.0
;radius-bottom = 8.0

line-size = 2
line-color = #f00

;border-size = 0
;border-bottom =1
;border-color = #00000000

padding = 2
;padding-left = 2
;padding-right = 2

module-margin-left = 1
module-margin-right = 1

;module-margin = 1

font-0 = "SauceCodePro Nerd Font:size=11:weight=semibold;3"
font-1 = "Noto Sans Mono:size=10;0"
font-2 = "FontAwesome:size=10;0"
#font-4 = "Noto Sans:size=14;0"


;choices : cpu memory wlan eth pulseaudio temperature sysmenu
modules-right = date pavolume battery


[bar/mainbar0]
inherit = bar/barbase
modules-left = rofi  sept changebackground
tray-detached = false
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 2
tray-maxsize = 20
tray-scale = 1.0
tray-position = center
;tray-background = ${color.background}


[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2

[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3

[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

#####################################################################

[module/changebackground]
type = custom/text
;content =  
content = CB
content-padding = 1%
content-background = ${color.background}
content-foreground = ${color.foreground}
click-left = exec feh --randomize --bg-fill /usr/share/backgrounds/*
click-right = exec sh $SCRIPTPATH/scripts/changetheme.sh


[module/rofi]
type = custom/text
;content =  
content = 
content-padding = 1%
content-background = ${color.background}
content-foreground = ${color.foreground}
click-left = exec rofi -no-config -no-lazy-grab -show drun -modi drun -theme ~/.config/leftwm/themes/current/polybar/scripts/rofi/launcher2.rasi
;click-right = exec rofi -theme fancy -show drun -show-icons -lines 6 -columns 4
click-right = exec xfce4-appfinder


[module/wlan]
type = internal/network
interface = net1
interval = 3.0

format-connected = <ramp-signal> <label-connected>
;format-connected-foreground = ${color.modulefg}
;format-connected-background = ${color.shade5}
;format-connected-underline = #9f78e1
label-connected = %essid%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${color.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${color.foreground-alt}

[module/eth]
type = internal/network
interface = enp0s31f6
interval = 3.0

;format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${color.foreground-alt}
label-connected = IP %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${color.foreground-alt}
;format-connected-background = ${color.shade5}
;format-connected-foreground = ${color.modulefg}

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
format-volume-background = ${color.background}
format-volume-foreground = ${color.foreground}
label-volume = VOL %percentage%%
label-volume-foreground = ${color.foreground}

label-muted =  muted
label-muted-foreground = #888

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${color.foreground-alt}


[module/kernel]
type = custom/script
exec = uname -r
tail = false
interval = 1024

format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = "  "
format-prefix-foreground = ${color.foreground}
format-underline =${color.foreground}

click-left = xfce4-taskmanager
click-middle = xfce4-taskmanager
click-right = alacritty -e bpytop

[module/arch-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-arch-updates.sh
interval = 1000
label = Arch: %output%
format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = "  "
format-prefix-foreground = ${color.foreground}
format-underline = ${color.foreground}
click-left = urxvt
click-middle = xfce4-terminal
click-right = alacritty

[module/aur-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-aur-updates.sh
interval = 1000
label = Aur: %output%
format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = "  "
format-prefix-foreground = ${color.foreground}
format-underline = ${color.foreground}
click-left = urxvt
click-middle = xfce4-terminal
click-right = alacritty


[module/sept]
type = custom/text
content = |
content-padding = 0
;content-margin = 0
content-foreground = ${color.foreground}
content-background =  ${color.background}
;content-underline = ${color.adapta-cyan}

[module/date]
;https://github.com/jaagr/polybar/wiki/Module:-date
type = internal/date
; Seconds to sleep between updates
interval = 5
; See "http://en.cppreference.com/w/cpp/io/manip/put_time" for details on how to format the date string
; NOTE: if you want to use syntax tags here you need to use %%{...}
date = "%d-%m-%Y"
date-alt = "%a %d %b"
time = %H:%M
time-alt = %H:%M
;format-prefix = " "
format-prefix = 
format-prefix-foreground = ${color.foreground}
;format-underline = ${color.foreground-alt}
format-foreground = ${color.foreground}
format-background = ${color.background}
label = %date% - %time%



[module/pavolume]
type = custom/script
tail = true
label = %output%
exec = ~/.config/polybar/scripts/pavolume.sh --listen
click-right = exec pavucontrol
click-left = ~/.config/polybar/scripts/pavolume.sh --togmute
scroll-up = ~/.config/polybar/scripts/pavolume.sh --up
scroll-down = ~/.config/polybar/scripts/pavolume.sh --down
;format-underline = #3EC13F
format-foreground = ${colors.foreground}
format-background = ${colors.background}


[module/battery]
;https://github.com/jaagr/polybar/wiki/Module:-battery
type = internal/battery
battery = BAT1
adapter = AC0
full-at = 100

format-charging = <animation-charging> <label-charging>
label-charging =  %percentage%%
format-charging-foreground = ${colors.foreground}
format-charging-background = ${colors.background}
;format-charging-underline = #a3c725

format-discharging = <ramp-capacity> <label-discharging>
label-discharging =  %percentage%%
;format-discharging-underline = #c7ae25
format-discharging-foreground = ${colors.foreground}
format-discharging-background = ${colors.background}

format-full-prefix = " "
format-full-prefix-foreground = #a3c725
;format-full-underline = #a3c725
format-full-foreground = ${colors.foreground}
format-full-background = ${colors.background}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = #c7ae25

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = #a3c725
animation-charging-framerate = 750
